@charset "UTF-8";

@function tint($color, $weight) {
  @return mix(white, $color, $weight);
}

@function shade($color, $weight) {
  @return mix(black, $color, $weight);
}

@function fade($color, $alpha) {
  @return rgba($color, $alpha);
}

$blue-3: #138aec;
$blue-1: tint($blue-3, 93%);
$blue-2: tint($blue-3, 80%);
$blue-4: tint($blue-3, 20%); //active、hover color
$blue-5: shade($blue-3, 5%);

$purple-3: #252d6b;
$purple-1: tint($purple-3, 93%);
$purple-2: tint($purple-3, 80%);
$purple-4: tint($purple-3, 20%);
$purple-5: shade($purple-3, 5%);

$cyan-3: #00a2ae;
$cyan-1: tint($cyan-3, 93%);
$cyan-2: tint($cyan-3, 80%);
$cyan-4: tint($cyan-3, 20%);
$cyan-5: shade($cyan-3, 5%);

$green-3: #00a854;
$green-1: tint($green-3, 93%);
$green-2: tint($green-3, 80%);
$green-4: tint($green-3, 20%);
$green-5: shade($green-3, 5%);

$pink-3: #f5317f;
$pink-1: tint($pink-3, 93%);
$pink-2: tint($pink-3, 80%);
$pink-4: tint($pink-3, 20%);
$pink-5: shade($pink-3, 5%);

$red-3: #ff0002;
$red-1: tint($red-3, 93%);
$red-2: tint($red-3, 80%);
$red-4: tint($red-3, 20%);
$red-5: shade($red-3, 5%);

$orange-3: #f56a00;
$orange-1: tint($orange-3, 93%);
$orange-2: tint($orange-3, 80%);
$orange-4: tint($orange-3, 20%);
$orange-5: shade($orange-3, 5%);

$yellow-3: #ffbf00;
$yellow-1: tint($yellow-3, 93%);
$yellow-2: tint($yellow-3, 80%);
$yellow-4: tint($yellow-3, 20%);
$yellow-5: shade($yellow-3, 5%);

$white   : #fff;
$black   : #000;
$gray-333: #333;
$gray-aaa: #aaa;
$gray-ccc: #ccc;
$gray-ddd: #ddd;
$gray-eee: #eee;
$gray-f3 : #f3f3f3;
$gray-f4 : #f4f4f4;
$gray-f7 : #f7f7f7;
$gray-f8 : #f8f8f8;
$gray-f9 : #f9f9f9;
/*颜色*/
$primary-color  : $purple-3;
$info-color     : $purple-3;
$success-color  : $green-3;
$error-color    : $red-4;
$highlight-color: $red-3;
$warning-color  : $yellow-3;
$normal-color   : #d9d9d9;
// Color used by default to control hover and active backgrounds and for
// alert info backgrounds.
$primary-1: tint($primary-color, 93%);
$primary-2: tint($primary-color, 80%);
$primary-3: $primary-color;
$primary-4: tint($primary-color, 20%);
$primary-5: shade($primary-color, 5%);

// Background color for `<body>`
$body-background     : $white;
$component-background: $white;
$font-family         : "Microsoft Yahei",
SimHei,
"Helvetica Neue",
"PingFangHK-Light",
"Heiti SC",
"Hiragino Sans GB",
"Microsoft JhengHei",
"WenQuanYi Micro Hei",
"Droid Sans",
"Roboto",
Helvetica,
Tahoma,
Arial,
"sans-serif";
$code-family: Consolas,
Menlo,
Courier,
monospace;
$header-background: $gray-f8;
$footer-background: #ebebeb; //footer background
$heading-color    : fade(#000, 85%); //标题颜色1
$text-color       : #333;
$text-color-2     : #666;
$text-color-3     : #999;

$font-size-base    : 14px; //基准字体大小
$font-size-sm      : $font-size-base - 2px; //小字体
$font-size-lg      : $font-size-base+2px; //大字体
$border-radius-base: 4px; //边框圆角
$border-radius-sm  : 2px; //边框圆角小
$line-height-base  : 1.5; //行高
// list items or table cells.
$tab-header-bg : $gray-f7;
$item-header-bg: #edf3fc;
$item-active-bg: $primary-1;
$item-hover-bg : $primary-1;

// LINK
$link-color           : $text-color;
$link-hover-color     : $primary-4;
$link-active-color    : $primary-5;
$link-hover-decoration: none;

// Border color
$border-color-base : #e0dfdf; // base border outline a component
$border-color-split: #d8d8d8; // split border inside a component
$border-width-base : 1px; // width of the border for a component
$border-style-base : solid; // style of a components border

// Outline
$outline-blur-size: 0;
$outline-width    : 2px;
$outline-color    : $primary-color;
// 灰色背景
$background-color-base  : #f8f8f8;
$background-color-active: #eee;

// Disabled states
$disabled-color     : fade(#000, 35%);
$disabled-bg        : $background-color-base;
$disabled-color-dark: fade(#000, 45%);

$input-hover-border-color: $primary-color;
$input-placeholder-color : $text-color-3;


@mixin wh($width, $height) {
  width : $width;
  height: $height;
}

@mixin clearfix() {
  zoom: 1;

  &:after {
    content   : "";
    display   : block;
    height    : 0;
    clear     : both;
    overflow  : hidden;
    visibility: hidden;
  }
}

@mixin bgCover {
  background-size: cover;
  -ms-filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/item-img.png',sizingMethod='scale')";
  filter         : progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/item-img.png', sizingMethod='scale');
}

.clearfix {
  @include clearfix();
}